body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8ca9ba;
}

.navbar {
  background-color: #2a2323;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
  color: White;
  cursor: pointer;
}

.login-container {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #cac0b4;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input,
.login-container textarea {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #b8b9c8;
}

.login-container button {
  padding: 10px;
  background-color: #3e6787;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

